@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Jonah Duffin- HW2";
}

<h1 class="header">Jonah Duffin</h1>
<p></p>
<img style="width:100%" src="~/img/jonah_skiing.jpg" />
<p>
    Welcome to my first homework website! From this class, I'm really hoping to learn how a strongly typed language like C# can be used in web development, and all around I hope to increase the complexity of the web applications that I am
    able to create. I hope to learn web development skills that would help me keep up in a conversation with a full-time web developer, and produce a modern-looking and efficient website start-to-finish by myself. I feel like I could figure
    out janky ways to do a lot of things in web development with the skills I already have (I once considered making a web app that used Local Storage to store all the user data because I didn't know how to (or didn't even think to!)
    connect a database to store all that information). Hopefully I can learn the best ways to do things, to make me a more apt web developer.
</p>
<h3>These are the top 3 jobs that I am most interested in pursuing after I graduate:</h3>
<ol>
    <li><b>Software Developer- Google</b>. This one is a long shot but dream big, right? It's definitely my number 1 choice.</li>
    <li><b>Software/Networking Engineer- Microsoft</b>. I think it'd be awesome to work with Azure, and I'd love to live in Seattle.</li>
    <li><b>Information/Networking Engineer- Goldman Sachs</b>. I'd love to work with financial data, and I'm interning at Zions this summer!</li>
</ol>

